*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: rgb(0, 0, 0);

  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    rgb(0, 0, 0)
    rgb(0, 0, 0) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2FEAA8", endColorstr="#028CF3", GradientType=1 );



}

.d1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    min-height: 13vh;
    padding: 0 8%;

}

.menu{
    display: flex;
    column-gap: 30px;
    font-weight: normal;
    flex-direction: row-reverse;

}
.fa-xmark, .fa-bars{
    position: absolute;
    visibility: hidden;
}
.menu>a{
    text-decoration: none;
    color: white;
    transition: .2s;
}
.menu>a:hover{
    text-decoration: none;
    color: rgb(7, 168, 7);
}
.header-img>a>img{
    width: 10rem;
}



.d2{
    display: flex;
    justify-content: center;
    min-height: 87vh;
    column-gap: 50px;
    align-items: end;
    background: rgb(76, 235, 182);

  background: linear-gradient(
    90deg,
    rgb(7, 219, 145) 0%,
    rgb(8, 97, 170) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    rgb(4, 79, 136) 100%
    rgb(4, 175, 115) 0%,
    
  );

  background: -webkit-linear-gradient(
    90deg,
    rgb(14, 19, 87) 100%
    rgb(15, 155, 106) 0%,
    
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2FEAA8", endColorstr="#028CF3", GradientType=1 );
}

#mobile-img>img{
    width: 320px;
}

#mobile-text{
    margin-bottom: 150px;
}

#mobile-text>p{
    font-size: 3.5rem;
    font-weight: bolder;
    padding-bottom: 30px;
    color: white;
    letter-spacing: -1px;
    word-spacing:-2px;
    line-height: 1.15;
}

.btn{
    border-radius: 50px;
    border: none;
    padding: 20px 40px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    transition: .3s;
}
.btn:hover{
    border-radius: 50px;
    border: none;
    padding: 20px 40px;
    background: #000000;
    color: #ffffff;
    cursor: pointer;


}


.d3{
    min-height: 85vh;
    background: white;
}
#mobile-img{
    display: flex;
    text-align: end;
}
.d3>p{
    font-size: 3rem;
    text-align: center;
    padding: 70px 0;
    font-weight: bold;
}

#img4{
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

#img4>div>img{
    border-radius: 50%;
    width: 200px;
    margin-bottom: 10px;
}

#img4>div{
    text-align: center;
    width: 20%;
    padding-bottom: 70px;
}

#img4>div>:nth-child(2){
    font-weight: bolder;
    margin-bottom: 10px;
}
#img4>div>:nth-child(3){
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: small;
}

.d4{
    min-height: 75vh;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    text-align: center;
    line-height: 1.15;
    background: hsla(159, 82%, 55%, 1);

    background: linear-gradient(
    90deg,
    rgb(7, 219, 145) 0%,
    rgb(8, 97, 170) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    rgb(4, 79, 136) 100%
    rgb(4, 175, 115) 0%,
    
  );

  background: -webkit-linear-gradient(
    90deg,
    rgb(14, 19, 87) 100%
    rgb(15, 155, 106) 0%,
    
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2FEAA8", endColorstr="#028CF3", GradientType=1 );
}
.d4>p{
    overflow: hidden;
}

.d5{
    min-height: 80vh;
    background: white;
    padding-bottom: 50px;

}

.d5>p{
    text-align: center;
    font-size: 2.5rem;
    padding: 60px;
    
}

.d5>details{
    margin: 0 15%;
    padding: 0 10px;
}

.d5>details>summary{
    padding: 20px 20px;
    font-size: larger;
    list-style-type: none;
}
.d5>details>p,ol{
    color: #444444;
    margin-left: 40px;
    

}
.d5>details>summary:hover{
    background: #dad6d6;
    cursor: pointer;
    text-decoration: underline;
}




.d6{

    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
    background: hsla(159, 82%, 55%, 1);

    background: linear-gradient(
        90deg,
        rgb(7, 219, 145) 0%,
        rgb(8, 97, 170) 100%
      );
    
      background: -moz-linear-gradient(
        90deg,
        rgb(4, 79, 136) 100%
        rgb(4, 175, 115) 0%,
        
      );
    
      background: -webkit-linear-gradient(
        90deg,
        rgb(14, 19, 87) 100%
        rgb(15, 155, 106) 0%,
        
      );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2FEAA8", endColorstr="#028CF3", GradientType=1 );
}
.d6>p{
    font-size: 3.5rem;
    font-weight: bolder;
    color: white;
}


.d7{
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    background: #000;
    color: white;
}
.bottom-logo{
    padding-bottom: 160px;
}

.left{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-width: 40%;
    font-size: small;
    padding-top: 60px;
}

.left>div>ul{
    list-style-type: none;
    padding: 15px 0;
}
.left>div>ul>li{
    padding: 10px 0;
}
.left>div>p{
    color: #b4b2b2;
}

.d8{

    background: #000;
    padding: 0 0 60px 100px;
}
.d8>a{
    text-decoration: none;
    color:#b4b2b2 ;
    padding: 0 10px;
    font-size: small;
}

.right{
    padding-bottom: 160px;
    min-width: 30%;
    display: flex;
    justify-content: center;
}

.right>a>i{
    font-size: xx-large;
    padding: 0 10px;
    color:rgb(189, 183, 183);
    transition: .3s;
}
.right>a>i:hover{
    font-size: xx-large;
    padding: 0 10px;
    color:rgb(6, 151, 43);
    transform: translateY(-5px);
    
}



@media screen and (max-width: 400px){
    .d1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: black;
        min-height: 6vh;
        max-height: 9vh;
        padding: 0 2%;
    }
    .header-img>a>img{
        width: 7rem;
        padding-top: 5px;
    }
.menu{
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    background: #000;
    padding-top: 5vh;
    top: 0px;
    z-index: 2;
    right: -400px;
    height: 95vh;
    width: 100%;
    align-items: start;
    justify-content: start;
    row-gap: 20px;
    transition: ease-in .3s;
}
.fa-xmark, .fa-bars{
    position:relative;
    visibility: visible;
    transition: 0.3s;
}
.item{
    padding-left: 40px;
    padding-top: 0px;
    
}

.k{
    font-size: xx-large;
}
.separator{
    visibility: hidden;
}

.d2{
    display: flex;
    justify-content: left;
    min-height: 55vh;
    align-items: end;
    background: rgb(76, 235, 182);

  background: linear-gradient(
    90deg,
    rgb(7, 219, 145) 0%,
    rgb(8, 97, 170) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    rgb(4, 79, 136) 100%
    rgb(4, 175, 115) 0%,
    
  );

  background: -webkit-linear-gradient(
    90deg,
    rgb(14, 19, 87) 100%
    rgb(15, 155, 106) 0%,
    
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2FEAA8", endColorstr="#028CF3", GradientType=1 );
}
#mobile-img>img{
    width: 0;
}
#mobile-text{
    margin-bottom: 70px;
    margin-left: -25px;

}

#mobile-text>p{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 0px;
    padding-top: 60px;
    color: white;
    line-height: 1.3;
    width: 90%;
}




.d3{
    min-height: 85vh;
    background: white;
}

.d3>p{
    font-size: 1.8rem;
    text-align: center;
    padding: 40px 0;
    font-weight: bold;
}

#img4{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

#img4>div>img{
    border-radius: 50%;
    width: 160px;
    margin-bottom: 5px;
}

#img4>div{
    text-align: center;
    width: 70%;
    padding-bottom: 40px;
}

#img4>div>:nth-child(2){
    font-weight: bolder;
    margin-bottom: 5px;
}
#img4>div>:nth-child(3){
    margin-bottom: 5px;
    font-size: small;
}



.d4{
    width: 100%;
    min-height: 60vh;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    text-align: center;
    line-height: 1.15;
    background: hsla(159, 82%, 55%, 1);

    background: linear-gradient(
    90deg,
    rgb(7, 219, 145) 0%,
    rgb(8, 97, 170) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    rgb(4, 79, 136) 100%
    rgb(4, 175, 115) 0%,
    
  );

  background: -webkit-linear-gradient(
    90deg,
    rgb(14, 19, 87) 100%
    rgb(15, 155, 106) 0%,
    
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2FEAA8", endColorstr="#028CF3", GradientType=1 );
}




.d5{
    min-height: 55vh;
    background: white;
    padding-bottom: 40px;
    width: 100%;
}

.d5>p{
    text-align: center;
    font-size: 1.5rem;
    padding: 40px 0;
    
}

.d5>details{
    margin-left: 10%;
}

.d5>details>summary{
    padding: 5px 0;
    font-weight: bold;
    font-size: medium;
    list-style-type: none;
    margin-left: 0;
}
.d5>details>summary:hover{
    background: #ffffff;
    cursor: pointer;
    text-decoration: underline;
}
.d5>details>p,ol{
    color: #444444;
    margin-left: 0px;
    font-size: small;

}


.d6{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    background: hsla(159, 82%, 55%, 1);

    background: linear-gradient(
        90deg,
        rgb(7, 219, 145) 0%,
        rgb(8, 97, 170) 100%
      );
    
      background: -moz-linear-gradient(
        90deg,
        rgb(4, 79, 136) 100%
        rgb(4, 175, 115) 0%,
        
      );
    
      background: -webkit-linear-gradient(
        90deg,
        rgb(14, 19, 87) 100%
        rgb(15, 155, 106) 0%,
        
      );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2FEAA8", endColorstr="#028CF3", GradientType=1 );
}
.d6>p{
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    width: 90%;
    line-height: 1.3;
    overflow: hidden;
    padding-bottom: 10px;
}




.d7{
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: #000;
    color: white;
}
.bottom-logo{
    padding-bottom: 0px;
    padding-top: 50px;
    margin-left: -10px;
}

.left{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    min-width: 40%;
    font-size: small;
    padding-top: 30px;
    row-gap: 30px;
}

.left>div>ul{
    list-style-type: none;
    padding: 0 0;
}
.left>div>ul>li{
    padding: 5px 0;
}
.left>div>p{
    color: #b4b2b2;
}




.d8{
    width: 100%;
    background: #000;
    padding: 30px 30px;
    width: 50%;
}
.d8>a{
    text-decoration: none;
    color:#b4b2b2 ;
    padding: 0 10px 0 0;
    font-size: x-small;
}

.right{
    padding-bottom: 0px;
    padding-top: 30px;
    min-width: 30%;
    display: flex;
    margin-left: -12px;
    flex-direction: row-reverse;
}

.right>a>i{
    font-size: xx-large;
    padding: 0 10px;
    color:rgb(189, 183, 183);
    transition: .3s;
}
.right>a>i:hover{
    font-size: xx-large;
    padding: 0 10px;
    color:rgb(6, 151, 43);
    transform: translateY(0px);
    
}
.bottom-logo>img{
    width: 7rem;
}
}
